<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sports Store</title>
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div>
            <h1>
                Sports Store
            </h1>
        </div>
        <div class="row m-1 p-1">
            <div id="categories" class="col-3">
                Put something useful here later
            </div>
            <div class="col-9">
                @RenderBody()
            </div>
        </div>
    </body>
</html>